.enmarcador {
  background-color: #c4c4c4;
  color: #005677;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: bold;
}
.italicbold {
  font-weight: bold;
  font-style: italic;
}

header {
  text-align: center;
  background-image: url("../img/banner2.png");
  background-size: 500px;
 background-position: center;

}


footer {
  background-color: #005677;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.flexible {
  display: flex;
  font-size: 15px;
}

main {
  width: 800px;
  margin-left: 320px;
  
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 35px;
}

.vinculo {
  float: right;
  font-size: 30px;
  color:black;
}