@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: roboto;
}
aside {
  margin-left: 15px;
}
.encabezado {
  background-color: #1cd1b0;
  line-height: 38px;
  font-size: 15px;
}
.menu {
  padding: 10px 20px;
  background-color: #001d2d;
  height: 40px;
  color: white;
}
.menu ul {
  text-align: right;
}
.menu ul li {
  display: inline-block;
  margin-left: 15px;
}
main a.agregar {
  position: absolute;
  right: 15px;
  top: 50vh;
}
h1 {
  background-color: rgba(0, 102, 159, 1);
  line-height: 101px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: normal;
  padding-left: 15px;
}
.articulos {
  margin-top: 153px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
article {
  margin: 16px;
  position: relative;
}
.fondobat {
  background-image: url(../img/baticueva.png);
  background-size: cover;
  border-radius: 5% 5% 0 0;
  width: 300px;
  height: 200px;
}
.fondoww {
  background-image: url(../img/amazonasland.png);
  background-size: cover;
  border-radius: 5% 5% 0 0;
  width: 300px;
  height: 200px;
}
.fondosuper {
  background-image: url(../img/fondosuper.png);
  background-size: cover;
  border-radius: 5% 5% 0 0;
  width: 300px;
  height: 200px;
}
.fondohq {
  background-image: url(../img/harleyfondo.png);
  background-size: cover;
  border-radius: 5% 5% 0 0;
  width: 300px;
  height: 200px;
}
.imgfront {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  margin: 40% 25%;
}
i {
  position: absolute;
  color: rgba(204, 36, 36, 1);
  font-size: 25px;
  left: 15px;
  top: 15px;
}
h2 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  line-height: 50px;
}
.artdesc {
  background-color: rgb(243, 243, 243);
  padding: 70px 17px;
  width: 300px;
  height: 400px;
}
.vinculo {
  position: absolute;
  margin-left: 29%;
  margin-top: 175%;
}
.previews {
  margin-top: 153px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  align-self: flex-start;
  margin-left: 37vh;
  font-size: 4.5rem;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
}
form input {
  padding: 15px;
  height: 60px;
  margin-top: 20px;
  border: 0.1rem solid;
  font-size: 20px;
  width: 100%;
}
form textarea {
  padding: 15px;
  height: 250px;
  margin-top: 20px;
  border: 0.1rem solid;
  font-size: 20px;
  width: 100%;
}
form select {
  padding: 15px;
  height: 60px;
  margin-top: 20px;
  border: 0.1rem solid;
  font-size: 20px;
  width: 100%;
}
form .action-button {
  background-color: #1cd1b0;
  border-radius: 23px;
  height: 54px;
  margin-top: 60px;
  font-size: 24px;
  font-weight: 700;
  border: 0;
}
form .action-button:nth-last-child(2) {
  background-color: #888888;
  color: white;
}
.previews form div {
  text-align: center;
}
.previews form div input {
  width: 300px;
  margin-left: 20px;
}
.previews div {
  margin-top: 20px;
}
footer {
  background-color: rgba(0, 102, 159, 1);
  line-height: 51px;
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
}
footer img {
  position: absolute;
  right: 15px;
  height: 40px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .articulos {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .articulos {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
